body {
	background-image: url("/images/dice-background.jpg");
	height: auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	

}

h1 {
	color: white;
}


.background-Content{
	padding: 0px 15px 15px 15px;
	border: 2px solid black;
	background-color:#222222;
	width: 550px;
	height:400px;
	overflow: scroll;
	color: white;
	font-size: 20px;

}
h3{
color: white;
font-size: 35px;
}

p{
	font-size: 20px;
	color: white;
}


.background-Image{
	width: 550px;
	border: 2px solid;
	height:400px;

}
.background-box{
	display: table;
}

#headerImage{
	height:50%;
	width:100%;
}
