body {
	background-image: url("/images/dragon2.jpg");
	height: auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;


}

#nav-icon {
	color: white !important;
}

.ul-menu-items > li > a {
	color: white;
}

#title-text
{
	color:white;
	font-size: 3.5em;
}