body {
	background-image: url("/images/dragon2.jpg");
	height: auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;


}

#title-text
{
	color:white;
	font-size: 3.5em;
}