<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pantheon</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="backgroundCss.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <header>
    <img src="Game.jpg" height="375px" width="100%" class="img-responsive">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand">Pantheon</a>
        </div>
      <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="MainPage.html">Home</a></li>
        <!-- <li><a href="statCalculator.html">Stat Calculator</a></li>-->
        <li class="active"><a href="background.html">Game Background</a></li>
        <<li><a href="characterpage.html">Characters</a></li>
        <!--<li><a href="articles.html">Articles</a></li>-->
        <li><a href="Contact.html">Contact</a></li>
      </ul>
      </div>
      </div>
    </nav>
  </header>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 background-box">
            <img src="dice.jpg" class="background-Image">   
      </div>
      <div class="col-md-6 background-box">
        <div class="background-Content">
          <h3> Words from the Dungeon Master..</h3>
          <br>
          <br>
          <p>Welcome to our very own homebrew game, we are a group of friends that were tired of the complex version of role playing that we decided to create our own pathfinder in order to have a better gaming experience with friends and family. So please join us and embark on some adventourous journeys with us!</p>

          <br>
          <hr>
          <p>To find out when we usually meet or when our next upcoming game will be upon us please shoot us an email in the contact tab and we will get your that information asap!</p>
        </div>
      </div>
    </div>
  </div>




</body>
</html>
