<!DOCTYPE html>
<html>
	<head>
		<title>Pantheon</title>
		<link href="https://fonts.googleapis.com/css?family=Mina:400,700|Raleway:400,700|Slabo+27px" rel="stylesheet">
		<link href="/styles.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"
			 	 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			 	 crossorigin="anonymous"></script>
	</head>
	<body>

		<h1 class="container text-center">Pantheon</h1>
	
		<!-- class dropdown, seach bar, and search button -->
		<div class="container-fluid">
  			<div class="col-md-8 col-md-offset-2 text-center">
     			 <form class="form-group">
	                <!-- class select dropdown -->        
		                <div class="col-md-2 col-xs-4">
		                  <select class="form-control" id="class-dropdown">
		                    <option value = "any">Class</option>
		                    <option value = "Tank">Tank</option>
		                    <option value = "Team">Team</option>
		                    <option value = "Mage">Mage</option>
		                    <option value = "Druid">Druid</option>
		                    <option value = "Rogue">Rogue</option>
		                    <option value = "Leader">Leader</option>
		                    <option value = "Necroli">Necroli</option>
		                    <option value = "Warrior">Warrior</option>
		                    <option value = "Ranged">Ranged</option>
		                    <option value = "Charmer">Charmer</option>
		                    <option value = "Engineer">Engineer</option>
		                    <option value = "Gourmet">Gourmet</option>
		                  </select>
		                </div>
	                <!-- feat name search bar -->
	                <div class="col-md-8 col-xs-4">
	                  <input id="feat-search-bar" class="search-bar form-control text-center" type="search" placeholder="Feat Name" aria-label="Search">
	                </div>
	                <!-- search button -->
	                <div class="col-md-2 col-xs-4">
	                  <button class="btn btn-default" type="submit" onclick="">Search</button>
	                </div>
	                <div class="container">
	                </div>
      			</form>
   			 </div>
 		 </div>

 		 <!-- Search Results Table -->
		<div class="container-fluid">
		  <div class="well">
		    <div class="table-responsive">
		      <table class="table">
		        <thead>
		        <!-- Table headers -->
		          <th scope="col">Class</th>
		          <th scope="col">Name</th>
		          <th scope="col">Effect</th>
		          <th scope="col">Description</th>
		          <th scope="col">Misc Prereq(s)</th>
		          <th scope="col">Skill Prereq(s)</th>
		          <th scope="col">Stat Prereq(s)</th>
		          <th scope="col">Type</th>
		        </thead>
		        <tbody>
		          <!-- EJS(Embedded JavaScript) that displays search results -->
	          		<%- include('./templates/search-result-template'); %>
		        </tbody>
		      </table>
		    </div>
		  </div>
		</div>

 		 <!-- scripts -->
 		 <script src ="../js/ajax"></script>
	</body>
</html>