<!DOCTYPE html>
<html>
	<head>
		<title>Pantheon</title>
		<link href="https://fonts.googleapis.com/css?family=Mina:400,700|Raleway:400,700|Slabo+27px" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
		
	</head>
	<body>



		<%- include('./templates/homepage-header'); %>

		<h1 id="title-text" class="container text-center">Pantheon</h1>
	
		<!-- class dropdown, seach bar, and search button -->
		<div class="container-fluid col-md-8 col-md-offset-2">
  			<div class="row">
     			 <form id="feat-search-form" method="post" action="/" class="form-group">
	                <!-- class select dropdown -->       
		                <div class="col-md-2 col-xs-4">
		                  <select id="class-dropdown" class="form-control" type="text" name="feat[school]">
		                    <option value = "any">Class</option>
		                    <option value = "Tank">Tank</option>
		                    <option value = "Team">Team</option>
		                    <option value = "Mage">Mage</option>
		                    <option value = "Druid">Druid</option>
		                    <option value = "Rogue">Rogue</option>
		                    <option value = "Leader">Leader</option>
		                    <option value = "Necroli">Necroli</option>
		                    <option value = "Warrior">Warrior</option>
		                    <option value = "Ranged">Ranged</option>
		                    <option value = "Charmer">Charmer</option>
		                    <option value = "Engineer">Engineer</option>
		                    <option value = "Gourmet">Gourmet</option>
		                  </select>
		                </div>
	                <!-- feat name search bar -->
	                <div class="col-md-4 col-xs-8">
	                  <input id="feat-search-bar" class="search-bar text-center form-control" type="text" placeholder="Search For..." name="feat[name]">
	                </div>

	                <!-- feat stat type select select dropdown -->
	                <div class="col-md-2 col-xs-4">
	                	<select id="stat-type-dropdown" class="form-control" name=feat[statType]>
	                		<option value="any">Stat</option>
	                		<option value="STR">STR</option>
	                		<option value="CON">CON</option>
	                		<option value="AGI">AGI</option>
	                		<option value="INT">INT</option>
	                		<option value="CHA">CHA</option>
	                		<option value="PER">PER</option>
	                	</select>
	                </div>

	                <!-- feat stat rank select dropdown -->
	                <div class="col-md-2 col-xs-8">
	                	<select id="stat-rank-dropdown" class="form-control" name="feat[statRank]">
	                		<option value="any">Rank</option>
	                		<option value="S">S</option>
	                		<option value="A+">A+</option>
	                		<option value="A">A</option>
	                		<option value="B+">B+</option>
	                		<option value="B">B</option>
	                		<option value="C+">C+</option>
	                		<option value="C">C</option>
	                		<option value="D+">D+</option>
	                		<option value="D">D</option>
	                		<option value="F+">F+</option>
	                		<option value="F">F</option>
	                		<option value="F-">F-</option>
	                	</select>
	                </div>
	            
	                <!-- search button -->
	                <div class="col-md-2 col-xs-12">
	                  <button id="submit-search-button" type="submit" class="btn btn-default form-control" onclick="QueryFeats()">Submit</button>
	                </div>
	                <div class="container">
	                </div>
      			</form>
      		</div>
   		
 		 </div>

 		


 		</div>
          
          <div class="container-fluid"><p></p></div>

 		  <!-- Search Results Table Div -->
 		 <div id="search-results-div" style="display:none">
 		 	<%- include('./templates/search-results-table'); %>

 		 </div>





 	
 		<script type="text/javascript" src="javascripts/ajax.js"></script>


		

	</body>
</html>