		<header>
    		<!--<img src="/images/Game.jpg" height="350px" width="100%" class="img-responsive">-->
    		<nav class="navbar navbar-inverse">
 			<div class="container-fluid">
    		<div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
      			<!--<a class="navbar-brand">Pantheon</a>-->
    		</div>
    		<div class="collapse navbar-collapse" id="myNavbar">
      			<ul class="nav navbar-nav">
			        <li><a href="/">HOME</a></li>
			        <!-- <li><a href="statCalculator.html">Stat Calculator</a></li>-->
			        <li><a href="/pages/game-background-page.html">ABOUT</a></li>
			        <li><a href="/pages/races-page.html">CLASSES</a></li>
			        <!--<li><a href="articles.html">Articles</a></li>-->
			        <li><a href="/pages/contact-page.html">CONTACT</a></li>
			     </ul>
    		</div>
  			</div>
			</nav>
  		</header>