
	<!-- Search Results Table -->
	<div class="container-fluid">
	  <div class="well">
	    <div class="table-responsive">
	      <table class="table">
	        <thead>
	        <!-- Table headers -->
	          <th scope="col">Type</th>
	          <th scope="col">Class</th>
	          <th scope="col">Name</th>
	          <th scope="col">Effect</th>
	          <th scope="col">Description</th>
	          <th scope="col">Misc Prereq(s)</th>
	          <th scope="col">Skill Prereq(s)</th>
	          <th scope="col">Stat Prereq(s)</th>
	        </thead>
	        <tbody>
	        <!-- table results are injected from ajax.js file -->
	        </tbody>
	      </table>
	    </div>
	  </div>
	</div>

