<span class="caret"></span>  <!-- down arrow -->
              </button>
              <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                <li><a href="#">S+</a></li>
                <li><a href="#">S</a></li>
                <li class="divider"></li>
                <li><a href="#">A+</a></li>
                <li><a href="#">A</a></li>
                <li class="divider"></li>
                <li><a href="#">B+</a></li>
                <li><a href="#">B</a></li>
                <li class="divider"></li>
                <li><a href="#">C+</a></li>
                <li><a href="#">C</a></li>
                <li class="divider"></li>
                <li><a href="#">D+</a></li>
                <li><a href="#">D</a></li>
                <li class="divider"></li>
                <li><a href="#">F+</a></li>
                <li><a href="#">F</a></li>
                <li><a href="#">F-</a></li>
              </ul>
          </div>